<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum nisl mi, eget fermentum sem fermentum non. Phasellus sagittis nisi nec massa condimentum, sit amet elementum risus gravida. Nulla feugiat, dui vitae lacinia porttitor, lectus felis pretium ex, vitae sagittis odio leo eget urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer vitae porta lectus. Cras velit augue, tincidunt ut volutpat quis, placerat quis augue. Vivamus a elementum leo. Duis eget dui vitae arcu eleifend gravida et id elit. Etiam quis justo vel ante malesuada varius non quis dui. Phasellus commodo ligula vitae massa posuere, sit amet commodo arcu vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus pharetra et erat quis varius. Quisque tincidunt varius hendrerit. Nunc sit amet feugiat nisi. Cras tempus lorem nec elit porttitor, nec vehicula ante sagittis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum nisl mi, eget fermentum sem fermentum non. Phasellus sagittis nisi nec massa condimentum, sit amet elementum risus gravida. Nulla feugiat, dui vitae lacinia porttitor, lectus felis pretium ex, vitae sagittis odio leo eget urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer vitae porta lectus. Cras velit augue, tincidunt ut volutpat quis, placerat quis augue. Vivamus a elementum leo. Duis eget dui vitae arcu eleifend gravida et id elit. Etiam quis justo vel ante malesuada varius non quis dui. Phasellus commodo ligula vitae massa posuere, sit amet commodo arcu vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus pharetra et erat quis varius. Quisque tincidunt varius hendrerit. Nunc sit amet feugiat nisi. Cras tempus lorem nec elit porttitor, nec vehicula ante sagittis.</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
    
</body>
</html>